<h2>Create a New Itenerary</h2>
<%= form_for @itenerary do |i_form| %>
  <%= i_form.label :pin, 'PIN' %>
  <%= i_form.text_field :pin %>
  
  <%= i_form.label :access_code, 'Access code for editing and posting updates' %>
  <%= i_form.text_field :access_code %>
  
  <div id="itenerary_legs">
    <%= render :partial => 'itenerary_leg', :locals => { :form => i_form } %>
  </div>
  <p>
    <%= add_itenerary_leg_link "Add a flight", i_form %>
  </p>
  <%= i_form.submit 'Create Itenerary' %>
<% end %>
