<h2>Itenerary</h2>
<p>Your PIN is <em><%= @itenerary.pin %></em>.</p>

<h2>Flights</h2>
<%@itenerary.itenerary_legs.each_with_index do |il, idx| %>
<h3>Leg <%= idx + 1 %></h3>
<%= il.airline_code %> : <%= il.flight_number %> (<%= il.departing_airport_code %>) - <%= il.on %>
<% end %>
